.header{

    background-color: rgba(32, 31, 31, 0.788);

    .brand-logo-container{
        margin-left: 20px;
    }

    .brand-logo{
       margin-top: auto;
       margin-top: 8px;
    }

    .signoutHeader{
        color: white;
        padding-right: 20px;

    }
}